/*container*/
#idx_top { width: 100%; height: 100px;background: rgb(249, 245, 240);
text-align: center;}
#idx_top {padding: 20px 0; font-size: 60 px;font-style:inherit;}

#idx_name {font-size: 20 px; text-align: end;}

.tbl {
    width: 600px;
    border-collapse: collapse;
}

.tbl caption {
    display: none;
}

.tbl th,
.tbl td {
    padding: 15px 0;
    border: 1px solid #999;
}
.tbl td {
    text-align: left;
}
#idx_me {background-color: antiquewhite; text-align: left; padding-top: 1%; padding-bottom: 1%;
}
#idx_mbti {background-color: antiquewhite; text-align: center; padding-top: 5%;
}

.tbl2 {
    width: 600px;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 5%;
}

.tbl2 caption {
    display: none;
}

.tbl2 th,
.tbl2 td {
    padding: 15px 0;
    border: 1px solid #999;
}
.tbl2 td {
    text-align:center;
}
